# SERVER
# compiled output
01-server-sockets/dist
01-server-sockets/node_modules

# Logs
01-server-sockets/logs
01-server-sockets/*.log
01-server-sockets/npm-debug.log*
01-server-sockets/pnpm-debug.log*
01-server-sockets/yarn-debug.log*
01-server-sockets/yarn-error.log*
01-server-sockets/lerna-debug.log*

# OS
01-server-sockets/.DS_Store

# Tests
01-server-sockets/coverage
01-server-sockets/.nyc_output

# IDEs and editors
01-server-sockets//.idea
01-server-sockets/.project
01-server-sockets/.classpath
01-server-sockets/.c9/
01-server-sockets/*.launch
01-server-sockets/.settings/
01-server-sockets/*.sublime-workspace

# IDE - VSCode
01-server-sockets/.vscode/*
01-server-sockets/!.vscode/settings.json
01-server-sockets/!.vscode/tasks.json
01-server-sockets/!.vscode/launch.json
01-server-sockets/!.vscode/extensions.json


# CLIENT
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
01-client-sockets/dist
01-client-sockets/tmp
01-client-sockets/out-tsc
01-client-sockets/bazel-out

# Node
01-client-sockets/node_modules
01-client-sockets/npm-debug.log
01-client-sockets/yarn-error.log

# IDEs and editors
01-client-sockets/.idea/
01-client-sockets/.project
01-client-sockets/.classpath
01-client-sockets/.c9/
01-client-sockets/*.launch
01-client-sockets/.settings/
01-client-sockets/*.sublime-workspace

# Visual Studio Code
01-client-sockets/.vscode/*
01-client-sockets/!.vscode/settings.json
01-client-sockets/!.vscode/tasks.json
01-client-sockets/!.vscode/launch.json
01-client-sockets/!.vscode/extensions.json
01-client-sockets/.history/*

# Miscellaneous
01-client-sockets/.angular/cache
01-client-sockets/.sass-cache/
01-client-sockets/connect.lock
01-client-sockets/coverage
01-client-sockets/libpeerconnection.log
01-client-sockets/testem.log
01-client-sockets/typings

# System files
01-client-sockets/.DS_Store
01-client-sockets/Thumbs.db
