# node modules
node_modules

# SERVER
# compiled output
apps/01-server-sockets/dist
apps/01-server-sockets/node_modules

# Logs
apps/01-server-sockets/logs
apps/01-server-sockets/*.log
apps/01-server-sockets/npm-debug.log*
apps/01-server-sockets/pnpm-debug.log*
apps/01-server-sockets/yarn-debug.log*
apps/01-server-sockets/yarn-error.log*
apps/01-server-sockets/lerna-debug.log*

# OS
apps/01-server-sockets/.DS_Store

# Tests
apps/01-server-sockets/coverage
apps/01-server-sockets/.nyc_output

# IDEs and editors
apps/01-server-sockets//.idea
apps/01-server-sockets/.project
apps/01-server-sockets/.classpath
apps/01-server-sockets/.c9/
apps/01-server-sockets/*.launch
apps/01-server-sockets/.settings/
apps/01-server-sockets/*.sublime-workspace

# IDE - VSCode
apps/01-server-sockets/.vscode/*
apps/01-server-sockets/!.vscode/settings.json
apps/01-server-sockets/!.vscode/tasks.json
apps/01-server-sockets/!.vscode/launch.json
apps/01-server-sockets/!.vscode/extensions.json



# CLIENT
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
apps/01-client-sockets/dist
apps/01-client-sockets/tmp
apps/01-client-sockets/out-tsc
apps/01-client-sockets/bazel-out

# Node
apps/01-client-sockets/node_modules
apps/01-client-sockets/npm-debug.log
apps/01-client-sockets/yarn-error.log

# IDEs and editors
apps/01-client-sockets/.idea/
apps/01-client-sockets/.project
apps/01-client-sockets/.classpath
apps/01-client-sockets/.c9/
apps/01-client-sockets/*.launch
apps/01-client-sockets/.settings/
apps/01-client-sockets/*.sublime-workspace

# Visual Studio Code
apps/01-client-sockets/.vscode/*
apps/01-client-sockets/!.vscode/settings.json
apps/01-client-sockets/!.vscode/tasks.json
apps/01-client-sockets/!.vscode/launch.json
apps/01-client-sockets/!.vscode/extensions.json
apps/01-client-sockets/.history/*

# Miscellaneous
apps/01-client-sockets/.angular/cache
apps/01-client-sockets/.sass-cache/
apps/01-client-sockets/connect.lock
apps/01-client-sockets/coverage
apps/01-client-sockets/libpeerconnection.log
apps/01-client-sockets/testem.log
apps/01-client-sockets/typings

# System files
apps/01-client-sockets/.DS_Store
apps/01-client-sockets/Thumbs.db

#environments
apps/01-client-sockets/src/environments/environment.ts
apps/01-client-sockets/src/environments/environment.development.ts

#ignore yarn.lock and error
yarn.lock
yarn-error.log
