<h1>Poll</h1>
<hr />

<app-graph
  [data]="barChartData"
  [labels]="barChartLabels"
  type="bar"
></app-graph>

<h3 class="mt-3">{{ message }}</h3>

<div class="container d-flex gap-3">
  <button [disabled]="!isVotingAllowed" (click)="vote('pri')" class="btn btn-danger">
    PRI
  </button>
  <button [disabled]="!isVotingAllowed" (click)="vote('pan')" class="btn btn-primary">
    PAN
  </button>
  <button [disabled]="!isVotingAllowed" (click)="vote('prd')" class="btn btn-warning">
    PRD
  </button>
  <button
    [disabled]="!isVotingAllowed"
    (click)="vote('morena')"
    class="btn btn-secondary"
  >
    MORENA
  </button>
</div>
